body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: fixed;
    width: 100%;
    border-bottom: 1pt solid black;
    top: 0px;
    left: 0px;
    background-color: gainsboro;
}

#logo{
    width: 125px;
    position: relative;
    padding: 10px;
}

#about{
    position: absolute;
    border: solid 1px;
    text-align: center;
    height: 100%;
    width: 10%;
    right: 50%;
    bottom: -2px;
    height: 100%;
}

#PNSJ{
    position: absolute;
    text-align: center;
    padding: 0;
    height: 100%;
    width: 20%;
    right: 0px;
    bottom: 0px;
    border: solid;
}