* {
  box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position: fixed;
    width: 100%;
    border-bottom: 1pt solid black;
    top: 0px;
    left: 0px;
    background-color: gainsboro;
}
li{
    display: inline-block;
    margin: 10px;
}
li.

#menus{

    height: 100%;
    width: 70%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

td{
    height: 100%;
}

#logo{
    width: 125px;
    position: relative;
    padding: 10px;
}

table{
    height: 100%;
    width: 100%;
}

.topMenus{
    color: white;
    border: none;
    width: 100%;
    text-align: center;
    height: 50%;
    background: lightsteelblue;
}