@import url('https://db.onlinewebfonts.com/c/2ecb999166700457fac756f8943f9620?family=Morris+Sans');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

* {
  box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 100%;
    position:absolute;
    left: 0px;
    top: 0px;
}

#gridContainer{
    display: grid;
    grid-template-areas:
        'header'
        'about';
}

.botaoBaixo{
    color: white;
    bottom: -17%;
    width: 50%;
    margin: auto;
    text-align: center;
    position: relative;
}

#header{
    height: 100vh;
    background-image: url("DSC_0074.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: header;
}

nav{
    position: sticky;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: transparent;
}

nav i{
    position: absolute;
    top: 50%;
    right: 40px;
    color: white;

}

#logo{
    width: 125px;
    position: relative;
    padding: 10px;
}

#titulo{
    top: 15%;
    width: 100%;
    color: white;
    text-align: center;
}

#titulo h1{
    font-size: 100pt;
    font-family: Morris Sans;
}

#titulo h2{
    font-size: 30pt;
    position: absolute;
    width: 100%;
    top: 45%;
    font-family: Alumni Sans Pinstripe;
}

#historia{
    color: white;
    grid-area: about;
}

/*Para tablets*/
@media (min-width: 361px)and (max-width: 767px){
	
}


/*Para smartphones*/
@media (max-width:360px){
	
}